
/*BLOCO 1*/
/* bloco configuração do usuario */
.bloco_conf{
    width: 350px;
    height: 675px;

    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    float: left;
    background-color: #174351;

}

/* bloco da foto de perfil */

.foto_perfil{

    border: 2px solid #d3d3d3;
    width: 125px;
    height: 100px;
    margin: 25px;
    background-color: white;
}

/* Configuração dos botões do usuario */
.item_bloco_conf{
    width: 100%;
    height: 50px;
    text-align: left;
    font-size: 20px;
    background-color: #174351;
    color:turquoise;

}

/* Configurações do icone da página */
.item_icone{
    width: 300px;
    height: 300px;
    margin: 20px;
}
/*FIM BLOCO 1*/


/* BLOCO 2 */
/*bloco para cadastro e listagem do administrador*/
.bloco_informacoes{
float: right;
width: 975px;
    height: 675px;
    /*border: 2px solid #000000;*/
}

/* Bloco de Usuario - Texto Usuario*/

.bloco_usuario{
    width: 380px;
    height: 60px;
    /*border: 2px solid #000000;*/
}

.text_adm{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
   color:#00CED1;
}



/* Bloco Listar */

.bloco_da_lista{
    width: 950px;
    height: 620px;
    margin-top: -30px;
    margin-bottom: -30px;
    margin-right: 10px;
    margin-left: 10px;
    /*border: 2px solid #000000;*/
float:left ;

}

.listar{
    width: 925px;
    height: 500px;
    opacity: 0.6;
    background-color:#d3d3d3;
    border: 2px solid #808080;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text_consulta{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
   color:#808080; 
}

.btn_listar{
    margin: 10px;
    width: 300px;
    height: 20px;
    float: right;
}

.btn_listar_1 {
    background-color: white;
    border: 1px solid;
    border-color: #00CED1;
    color:#00CED1;
    border-radius: 20px;
    width: 300px;
    height: 20px;
    font-size: 10px;
  
   text-align: center;

    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    
  }

/*FIM BLOCO 2*/