
/*BLOCO 1*/
/* bloco configuração do usuario */
.bloco_conf{
    width: 350px;
    height: 675px;

    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    float: left;
    background-color: #174351;

}

/* bloco da foto de perfil */

.foto_perfil{

    border: 2px solid #d3d3d3;
    width: 125px;
    height: 100px;
    margin: 25px;
    background-color: white;
}

/* Configuração dos botões do usuario */
.item_bloco_conf{
    width: 100%;
    height: 50px;
    text-align: left;
    font-size: 20px;
    background-color: #174351;
    color:turquoise;

}

/* Configurações do icone da página */
.item_icone{
    width: 300px;
    height: 300px;
    margin: 20px;
}
/*FIM BLOCO 1*/


/* BLOCO 2 */
/*bloco para cadastro e listagem do administrador*/
.bloco_informacoes{
float: right;
width: 975px;
    height: 675px;
    /*border: 2px solid #000000;*/
}

/* Bloco de Usuario - Texto Usuario*/

.bloco_usuario{
    width: 380px;
    height: 60px;
    /*border: 2px solid #000000;*/
}

.text_adm{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
   color:#00CED1;
}


/* Bloco de cadastro */
.bloco_cadastro{
width: 400px;
height: 320px;

margin-top: 25px;
margin-bottom: 25px;


}

.text_cadastro{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
   color:#808080;
}

/* Blocos para o cadastro e Input Consulta*/

/* Bloco Consulta */
.bloco_consulta{
   /* width: 177px;
    height: 42px;*/
    margin: 10px;
    float: left;

}

.input_consulta{
    background-color:#d3d3d3;
    opacity: 0.6;
    border: 2px solid #808080;
    border-radius: 20px;
}


/* Bloco Data e Hora e Input Data e Hora */

.bloco_data_hora{
    /* width: 177px;
     height: 42px;*/
     margin: 10px;
     float: right;

 }

 .input_data_hora{
    background-color:#d3d3d3;
    opacity: 0.6;
    border: 2px solid #808080;
    border-radius: 20px;
}

/* Bloco Médico e Input Médico*/

.bloco_medico{

    margin: 10px;
    float: left;

    margin-top: 0px;
}

.input_medico{
    background-color:#d3d3d3;
    opacity: 0.6;
    border: 2px solid #808080;
    border-radius: 20px;
}


/* Bloco Paciente e Input Paciente*/

.bloco_paciente{
    /* width: 177px;
     height: 42px;*/
     margin: 10px;
     float: right;
     margin-top: 0px;

 }

 .input_paciente{
    background-color:#d3d3d3;
    opacity: 0.6;
    border: 2px solid #808080;
    border-radius: 20px;
}

/* Bloco Situação e Input Situação*/

.bloco_situacao{
    width: 375px;
    margin: 10px;
    margin-top: 0px;
    float: left;
}

.input_situacao{
    background-color:#d3d3d3;
    opacity: 0.6;
    border: 2px solid #808080;
    width: 370px;
    border-radius: 20px;
}

/* Botão cadastro */
.btn_cadastro{
    margin: 10px;
    width: 300px;
    height: 20px;
    float: right;
}

.btn {
    background-color: white;
    /*margin-top: 10px;*/
    border: 1px solid;
    border-color: #00CED1;
    color:#00CED1;
    border-radius: 20px;
    width: 300px;
    height: 20px;
    font-size: 10px;
  
   text-align: center;

    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    
  }

/* Bloco Listar */

.bloco_da_lista{
    width: 500px;
    height: 650px;
    margin-right: 10px;
    margin-left: 10px;
    /*border: 2px solid #000000;*/
float:right ;

}

.listar{
    width: 485px;
    height: 525px;
    opacity: 0.6;
    background-color:#d3d3d3;
    border: 2px solid #808080;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text_consulta{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
   color:#808080; 
}

.btn_listar{
    margin: 10px;
    width: 300px;
    height: 20px;
    float: right;
}

.btn_listar_1 {
    background-color: white;
    border: 1px solid;
    border-color: #00CED1;
    color:#00CED1;
    border-radius: 20px;
    width: 300px;
    height: 20px;
    font-size: 10px;
  
   text-align: center;

    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    
  }

/*FIM BLOCO 2*/